/* основной цвет  color: #212121;*/
/* вторичный цвет color: #757575; */
/* акцент color: #2196F3 */
/* белый color: #FFFFFF;  */
/* черный color: #000000; */
/* футер контакты color: rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --black-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --second-background-color: #2f303a;
  --pasiv-button-color: #188ce8;
  --active-button-color: #2196f3;
  --portfolio-button-color:#F5F4FA;
  --color-border-card:#EEEEEE;
}

.body {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

}
.container{
  /* padding-left: 215px;
  padding-right: 215px; */
  width: 1200px;
  padding: 0 15px;
  margin: 0px auto;
  


}
a {
  text-decoration: none;

}

.list {
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  padding: 23px 0px;
  margin-right: 93px;
}
.piece-logo {
  color: var(--accent-color);
}
h1,h2,h3,h4,h5,h6{
  margin: 0%;
}
p {
  margin: 0%;
}
/* Навігація */

.top-line {
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #ECECEC;; */
}
.container-nav {
  display: flex;
  align-items: center;
}

.site-nav{
  display: flex;
  padding: 32px 0px;
}

.site-nav .item:not(:last-child){
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;

}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* Контакти хедер */
.contacts{
  display: flex;
  align-items: center;
  padding: 32px 0px;
  margin-left: auto;
}

.contacts .item:not(:last-child){
  margin-right: 50px;
}
.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  min-width: 122px;
  
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: var(--second-background-color);
  text-align: center;
  
  padding: 200px 0px 200px;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3637;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 30px;
  width: 696px;
  text-align: center;

}
.hero .button {
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin: 0px auto;
}
/* Секції */
.section{
  margin: 0px auto;
  padding: 94px 0;

}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1667;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
/* Наші плюси */

.container .feature-list{
  display: flex;
    width: 1200px;
      padding: 0 15px;
      margin: 0px auto;
 
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.1429;
  margin-top: 0%;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
}
.feature-list .text {
  color: var(--primary-text-color);
  line-height: 1.743;
  margin:0%;
}
.feature-list .item{
  flex-basis: calc((100% - 90px) / 4);
}

/* Чим ми займаэмося */
.second-section{
  padding-top: 0%;
}

.container .works{
  display: flex;
    width: 1200px;
      padding: 0 15px;
      margin: 0px auto;
}
 img{
  display: block;
    height: auto;
    max-width: 100%;
 }



.section .item:not(:last-child){
  margin-right: 30px;
}
/* Наша команда */
.container .comand{
  display: flex;
    width: 1200px;
      padding: 0 15px;
      margin: 0px auto;
}
.comand .item:not(:last-child){
  margin-right: 30px;
}
.section.comand-section{
  background-color: var(--portfolio-button-color);

}
.comand .item{
  background-color: var(--primary-white-color);
}
.card-padding{
  padding: 30px 0px;
}
.comand .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 10px;


}
.comand .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin: 0%;
  
}

/* футер */
.footer {
  background-color: var(--second-background-color);
  padding: 60px 0px;
}

.footer-logo {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  margin-bottom: 20px;
  
}
.margin-logo{
  margin-bottom: 20px;
}
/* .contact{

} */
.contact .addres {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.7143;
}
.contact .addres:hover,
.contact .addres:focus {
  color: var(--accent-color);
}
.contact .footer-link {
  color: var(--footer-contacts-color);
  line-height: 1.7142;
  font-style: normal;
}

.contact .item:not(:last-child){
  margin-bottom: 9px;
}
.contact .footer-link:hover,
.contact .footer-link:focus {
  color: var(--accent-color);
}
/* Кнопка */
.button {
  color: var(--primary-white-color);
  background-color: var(--pasiv-button-color);
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  border: none;
  
}
.button:hover,
.button:focus {
  background-color: var(--active-button-color);
}

/* ПОРТФОЛІО */

.filter.list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.filter .filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter .filter-button {
  color: var(--title-text-color);
  background-color: var(--portfolio-button-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  font-family: Roboto, sans-serif;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: 2px solid transparent;
}
.filter .filter-button:hover,
.filter .filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--active-button-color);
}
.work.list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work .work-item{
  width: 370px;
}


.work-card{
  padding: 20px 24px;
  border-left: 1px solid var(--color-border-card);
  border-right: 1px solid var(--color-border-card);
  border-bottom: 1px solid var(--color-border-card);
}
.work .work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.work .work-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}
.header-portfolio{
  border-bottom: 1px solid #ECECEC;
}